<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrusel</title>
    <link rel="stylesheet" href="{% static 'WEB/style2.css' %}">

</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="{% static 'imagenes/esiima.png' %}" alt="Logo">
        </div>
        <div class="search-bar">
            <input id="texto" type="text" placeholder="Buscar...">
            <button class="search-button">
                <img src="{% static 'imagenes/buscar.png' %}" alt="Buscar">
            </button>
        </div>
        <div class="icons">
            <button class="icon-button theme-toggle">
                <img src="{% static 'imagenes/contraste.png' %}" alt="Cambiar tema">
            </button>
            <button class="icon-button profile-icon">
                <img src="{% static 'imagenes/informacion.png' %}" alt="Información">
            </button>
        </div>
    </div>
        <!-- Carrusel -->
        <div class="carousel"></div>
<div class="carousel"></div>
<script>
    window.carouselData = [
        { id: 1, src: '{% static "imagenes/carrusel1.jpg" %}' },
        { id: 2, src: '{% static "imagenes/carrusel2.jpg" %}'},
        { id: 3, src: '{% static "imagenes/carrusel3.jpg" %}'},
        { id: 4, src: '{% static "imagenes/carrusel4.jpg" %}' },
        { id: 5, src: '{% static "imagenes/carrusel5.jpg" %}' },
    ];
</script>
<script src="{% static 'WEB/carrusel.js' %}"></script>

</body>
</html>